@model ReflectionIT.Mvc.Paging.PagingList<AlvesMello_IntraNet.Models.Category>

@{
	ViewData["Title"] = "Listagem de Categorias";
}

<h1>Categorias</h1>

<form method="get" class="form-inline">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="input-group">
					<div class="input-group-btn">
						<button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown"> Nome <span class="caret"></span></button>

						<ul class="dropdown-menu">
							<li>
								<a>Nome</a>
							</li>
						</ul>
					</div>

					<div class="form-group col-10">
						<input name="filter" type="text" class="form-control" maxlength="100" value="@Model.RouteValue["Filter"]">
					</div>

					<div class="input-group-btn">
						<button type="submit" class="btn btn-danger">
							<image src="/images/Search.png"></image>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
<br />

<div>
	<vc:pager paging-list="@Model"></vc:pager>
</div>

<div class="row">
	<div class="col-md-12">
		<table class="table">
			<thead>
				<tr>
					<th>
						@Html.DisplayNameFor(model => model.Name)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Description)
					</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td style="color: white">
							<div class="d-flex justify-content-evenly text-center">
								<div class="rounded-pill p-2 " style="background-color: @item.Color">
									@Html.DisplayFor(modelItem => item.Name)
								</div>
							</div>
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Description)
						</td>
						<td>
							<div class="d-flex flex-wrap justify-content-evenly">
								<div>
									<a class="btn btn-dark" asp-action="Edit" asp-route-id="@item.CategoryId">Editar</a>
								</div>
								<div>
									<a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.CategoryId">Detalhes</a>
								</div>
								<div>
									<a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.CategoryId">Deletar</a>
								</div>
							</div>
						</td>
					</tr>
				}
			</tbody>
		</table>

		<div class="row">
			<div class="col-6">
				<a class="btn btn-success" asp-action="Create">
					Adicionar Categoria
				</a>
			</div>

			<div class="col-6 d-flex justify-content-end">
				Total de Categorias: @Model.TotalRecordCount
			</div>
		</div>
	</div>
</div>
